DATABASE_URL="postgresql://username:password@localhost:5432/dbname"
AUTH_SECRET="auth-secret-key"
AUTH_URL="http://localhost:3000"
GROQ_API_KEY="your-groq-key-here"
AUTH_GOOGLE_ID="auth-google-client-id"
AUTH_GOOGLE_SECRET="auth-google-secret-key"